.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-control.custom-input {
  border: 2px solid black !important;
  border-radius: 2px !important;
  box-shadow: none !important;
}

.form-control.custom-input:focus {
  border: 2px solid black !important;
  outline: none !important;
  box-shadow: none !important;
}

.footer-email {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;       /* Bold */
  font-style: normal;     /* "Bold" is controlled by font-weight */
  font-size: 13px;
  line-height: 19px;      /* No leading-trim in CSS */
  letter-spacing: 0.03em; /* 3% letter-spacing */
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
